body {
    font-family: 'Roboto', sans-serif;
}
#header {
    margin-top: 75px;
    text-align: justify;
}
#testimonial{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: justify;
}
footer {
    background: url(../img/smartphones.png);
}
#info-one  {
    text-align: justify;
}
#info-two  {
    text-align: justify;
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.link a {
    margin:60px;
    margin-top:30%;
}
.link a i {
    font-size: 6rem;
}